<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="add_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="add_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="add.diagram.part.AddDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/AddDiagramFile.gif"
         extensions="add_diagram"
         default="true"
         class="add.diagram.part.AddDiagramEditor"
         matchingStrategy="add.diagram.part.AddMatchingStrategy"
         contributorClass="add.diagram.part.AddDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="add.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/AddDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="add.diagram.part.AddCreationWizard"
  	     id="add.diagram.part.AddCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.chico.uclm.add.diagram.InitDiagram"
            nameFilter="*.add"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="add.diagram.part.AddInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.chico.uclm.add.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="AddPresentation">
         <Priority name="Lowest"/>
         <ViewId id="add.diagram.part.AddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="AddPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="add.diagram.part.AddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="AddPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="add.diagram.part.AddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="AddRender">
         <Priority name="Lowest"/>
         <ViewId id="add.diagram.part.AddDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="add.diagram.providers.AddMarkerNavigationProvider">
         <MarkerType name="org.chico.uclm.add.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Add Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="add.diagram.providers.AddValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="add.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.chico.uclm.add.diagram.general"
            name="%prefpage.org.chico.uclm.add.diagram.general"
            class="add.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.chico.uclm.add.diagram.appearance"
            name="%prefpage.org.chico.uclm.add.diagram.appearance"
            category="org.chico.uclm.add.diagram.general"
            class="add.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.chico.uclm.add.diagram.connections"
            name="%prefpage.org.chico.uclm.add.diagram.connections"
            category="org.chico.uclm.add.diagram.general"
            class="add.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.chico.uclm.add.diagram.printing"
            name="%prefpage.org.chico.uclm.add.diagram.printing"
            category="org.chico.uclm.add.diagram.general"
            class="add.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.chico.uclm.add.diagram.rulersAndGrid"
            name="%prefpage.org.chico.uclm.add.diagram.rulersAndGrid"
            category="org.chico.uclm.add.diagram.general"
            class="add.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.chico.uclm.add.diagram"
            labelProvider="add.diagram.sheet.AddSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.chico.uclm.add.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.chico.uclm.add.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="add.diagram.sheet.AddPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="add.diagram.navigator.AddAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="add.diagram.providers.AddViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="add"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Add"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,3001,3002,3003,3004,3005,3006,3007,3008,3009"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003,4004"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="add.diagram.providers.AddEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Add"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,3001,3002,3003,3004,3005,3006,3007,3008,3009"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003,4004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5004,5005,5006,5010,5013,5015,5019,5020,5021,5022,5023,5024,5007,5008,5009,5011,5012,5014,5016,5017,5018"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7003,7004,7005,7006,7007,7008,7009"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfADDDiagramEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.ADDDiagramEditPart" id="ADDDiagram_1000"/>
         <context elements="ADDDiagram_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfSightEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.SightEditPart" id="Sight_2001"/>
         <context elements="Sight_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfTouchEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.TouchEditPart" id="Touch_2002"/>
         <context elements="Touch_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfTasteEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.TasteEditPart" id="Taste_2003"/>
         <context elements="Taste_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfHearEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.HearEditPart" id="Hear_2004"/>
         <context elements="Hear_2004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfSmellEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.SmellEditPart" id="Smell_2005"/>
         <context elements="Smell_2005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfEnvironmentEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.EnvironmentEditPart" id="Environment_2006"/>
         <context elements="Environment_2006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfInputEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.InputEditPart" id="Input_2007"/>
         <context elements="Input_2007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfOutputEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.OutputEditPart" id="Output_2008"/>
         <context elements="Output_2008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfDataEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.DataEditPart" id="Data_2009"/>
         <context elements="Data_2009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfAwarenessEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.AwarenessEditPart" id="Awareness_2010"/>
         <context elements="Awareness_2010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfWidgetEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.WidgetEditPart" id="Widget_2011"/>
         <context elements="Widget_2011"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfDeviceEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.DeviceEditPart" id="Device_2012"/>
         <context elements="Device_2012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfControllerEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.ControllerEditPart" id="Controller_2013"/>
         <context elements="Controller_2013"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfShareEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.ShareEditPart" id="Share_2014"/>
         <context elements="Share_2014"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfFlowEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.FlowEditPart" id="Flow_2015"/>
         <context elements="Flow_2015"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfInteractionEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.InteractionEditPart" id="Interaction_3001"/>
         <context elements="Interaction_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfTimeEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.TimeEditPart" id="Time_3002"/>
         <context elements="Time_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfEventEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.EventEditPart" id="Event_3003"/>
         <context elements="Event_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfTime2EditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.Time2EditPart" id="Time_3004"/>
         <context elements="Time_3004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfOperationEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.OperationEditPart" id="Operation_3005"/>
         <context elements="Operation_3005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfDataxEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.DataxEditPart" id="Datax_3006"/>
         <context elements="Datax_3006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfAreaEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.AreaEditPart" id="Area_3007"/>
         <context elements="Area_3007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfDimensionEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.DimensionEditPart" id="Dimension_3008"/>
         <context elements="Dimension_3008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="add.diagram.providers.assistants.AddModelingAssistantProviderOfElementEditPart">
         <Priority name="Lowest"/>
         <object class="add.diagram.edit.parts.ElementEditPart" id="Element_3009"/>
         <context elements="Element_3009"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="add.diagram.providers.AddIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="add.diagram.providers.AddParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="add.diagram.providers.AddShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.ADDDiagram_1000"
               name="%metatype.name.ADDDiagram_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ADDDiagram"
               edithelper="add.diagram.edit.helpers.ADDDiagramEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Sight_2001"
               name="%metatype.name.Sight_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Sight"
               edithelper="add.diagram.edit.helpers.SightEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Touch_2002"
               name="%metatype.name.Touch_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Touch"
               edithelper="add.diagram.edit.helpers.TouchEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Taste_2003"
               name="%metatype.name.Taste_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Taste"
               edithelper="add.diagram.edit.helpers.TasteEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Hear_2004"
               name="%metatype.name.Hear_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Hear"
               edithelper="add.diagram.edit.helpers.HearEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Smell_2005"
               name="%metatype.name.Smell_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Smell"
               edithelper="add.diagram.edit.helpers.SmellEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Environment_2006"
               name="%metatype.name.Environment_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Environment"
               edithelper="add.diagram.edit.helpers.EnvironmentEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Input_2007"
               name="%metatype.name.Input_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Input"
               edithelper="add.diagram.edit.helpers.InputEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Output_2008"
               name="%metatype.name.Output_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Output"
               edithelper="add.diagram.edit.helpers.OutputEditHelper">
            <param name="semanticHint" value="2008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Data_2009"
               name="%metatype.name.Data_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Data"
               edithelper="add.diagram.edit.helpers.DataEditHelper">
            <param name="semanticHint" value="2009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Awareness_2010"
               name="%metatype.name.Awareness_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Awareness"
               edithelper="add.diagram.edit.helpers.AwarenessEditHelper">
            <param name="semanticHint" value="2010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Widget_2011"
               name="%metatype.name.Widget_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Widget"
               edithelper="add.diagram.edit.helpers.WidgetEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Device_2012"
               name="%metatype.name.Device_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Device"
               edithelper="add.diagram.edit.helpers.DeviceEditHelper">
            <param name="semanticHint" value="2012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Controller_2013"
               name="%metatype.name.Controller_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Controller"
               edithelper="add.diagram.edit.helpers.ControllerEditHelper">
            <param name="semanticHint" value="2013"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Share_2014"
               name="%metatype.name.Share_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Share"
               edithelper="add.diagram.edit.helpers.ShareEditHelper">
            <param name="semanticHint" value="2014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Flow_2015"
               name="%metatype.name.Flow_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Flow"
               edithelper="add.diagram.edit.helpers.FlowEditHelper">
            <param name="semanticHint" value="2015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Interaction_3001"
               name="%metatype.name.Interaction_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Interaction"
               edithelper="add.diagram.edit.helpers.InteractionEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Time_3002"
               name="%metatype.name.Time_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Time"
               edithelper="add.diagram.edit.helpers.TimeEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Event_3003"
               name="%metatype.name.Event_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Event"
               edithelper="add.diagram.edit.helpers.EventEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <specializationType
               id="org.chico.uclm.add.diagram.Time_3004"
               name="%metatype.name.Time_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.chico.uclm.add.diagram.Time_3002"/>
            <param name="semanticHint" value="3004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Operation_3005"
               name="%metatype.name.Operation_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Operation"
               edithelper="add.diagram.edit.helpers.OperationEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Datax_3006"
               name="%metatype.name.Datax_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Datax"
               edithelper="add.diagram.edit.helpers.DataxEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Area_3007"
               name="%metatype.name.Area_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Area"
               edithelper="add.diagram.edit.helpers.AreaEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Dimension_3008"
               name="%metatype.name.Dimension_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Dimension"
               edithelper="add.diagram.edit.helpers.DimensionEditHelper">
            <param name="semanticHint" value="3008"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.Element_3009"
               name="%metatype.name.Element_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Element"
               edithelper="add.diagram.edit.helpers.ElementEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.NormalLink_4001"
               name="%metatype.name.NormalLink_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NormalLink"
               edithelper="add.diagram.edit.helpers.NormalLinkEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.SolidLink_4002"
               name="%metatype.name.SolidLink_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SolidLink"
               edithelper="add.diagram.edit.helpers.SolidLinkEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.SolidGreyLink_4003"
               name="%metatype.name.SolidGreyLink_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SolidGreyLink"
               edithelper="add.diagram.edit.helpers.SolidGreyLinkEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="add">
         <metamodelType
               id="org.chico.uclm.add.diagram.DashLink_4004"
               name="%metatype.name.DashLink_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DashLink"
               edithelper="add.diagram.edit.helpers.DashLinkEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.chico.uclm.add.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.chico.uclm.add.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.chico.uclm.add.diagram.TypeContext">
         <elementType ref="org.chico.uclm.add.diagram.ADDDiagram_1000"/>
         <elementType ref="org.chico.uclm.add.diagram.Sight_2001"/>
         <elementType ref="org.chico.uclm.add.diagram.Touch_2002"/>
         <elementType ref="org.chico.uclm.add.diagram.Taste_2003"/>
         <elementType ref="org.chico.uclm.add.diagram.Hear_2004"/>
         <elementType ref="org.chico.uclm.add.diagram.Smell_2005"/>
         <elementType ref="org.chico.uclm.add.diagram.Environment_2006"/>
         <elementType ref="org.chico.uclm.add.diagram.Input_2007"/>
         <elementType ref="org.chico.uclm.add.diagram.Output_2008"/>
         <elementType ref="org.chico.uclm.add.diagram.Data_2009"/>
         <elementType ref="org.chico.uclm.add.diagram.Awareness_2010"/>
         <elementType ref="org.chico.uclm.add.diagram.Widget_2011"/>
         <elementType ref="org.chico.uclm.add.diagram.Device_2012"/>
         <elementType ref="org.chico.uclm.add.diagram.Controller_2013"/>
         <elementType ref="org.chico.uclm.add.diagram.Share_2014"/>
         <elementType ref="org.chico.uclm.add.diagram.Flow_2015"/>
         <elementType ref="org.chico.uclm.add.diagram.Interaction_3001"/>
         <elementType ref="org.chico.uclm.add.diagram.Time_3002"/>
         <elementType ref="org.chico.uclm.add.diagram.Event_3003"/>
         <elementType ref="org.chico.uclm.add.diagram.Time_3004"/>
         <elementType ref="org.chico.uclm.add.diagram.Operation_3005"/>
         <elementType ref="org.chico.uclm.add.diagram.Datax_3006"/>
         <elementType ref="org.chico.uclm.add.diagram.Area_3007"/>
         <elementType ref="org.chico.uclm.add.diagram.Dimension_3008"/>
         <elementType ref="org.chico.uclm.add.diagram.Element_3009"/>
         <elementType ref="org.chico.uclm.add.diagram.NormalLink_4001"/>
         <elementType ref="org.chico.uclm.add.diagram.SolidLink_4002"/>
         <elementType ref="org.chico.uclm.add.diagram.SolidGreyLink_4003"/>
         <elementType ref="org.chico.uclm.add.diagram.DashLink_4004"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.chico.uclm.add.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.chico.uclm.add.diagram"
           properties="isURIEditorInput"
           class="add.diagram.part.AddUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.chico.uclm.add.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="org.chico.uclm.add.diagram"
           properties="isShortcut"
           class="add.diagram.part.AddShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.chico.uclm.add.diagram.resourceContent"/>
			<contentExtension pattern="org.chico.uclm.add.diagram.domainResourceContent"/>
            <contentExtension pattern="org.chico.uclm.add.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.chico.uclm.add.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.chico.uclm.add.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="add.diagram.navigator.AddNavigatorContentProvider" 
            labelProvider="add.diagram.navigator.AddNavigatorLabelProvider"
            icon="icons/obj16/AddDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="add_diagram"/>
               </and>
               <instanceof value="add.diagram.navigator.AddAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.chico.uclm.add.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="add.diagram.navigator.AddAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.chico.uclm.add.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.chico.uclm.add.diagram.navigatorSorter" 
               class="add.diagram.navigator.AddNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="add_diagram"/>
                  </and>
                  <instanceof value="add.diagram.navigator.AddAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.chico.uclm.add.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="add.diagram.navigator.AddDomainNavigatorContentProvider" 
            labelProvider="add.diagram.navigator.AddDomainNavigatorLabelProvider"
            icon="icons/obj16/AddDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="add"/>
               </and>
               <instanceof value="add.diagram.navigator.AddDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="add.diagram.navigator.AddDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.chico.uclm.add.diagram.navigatorActionProvider"
            class="add.diagram.navigator.AddNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="add.diagram.navigator.AddAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="org.chico.uclm.add.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.chico.uclm.add.diagram.navigatorLinkHelper"
            class="add.diagram.navigator.AddNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.chico.uclm.add.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="add.diagram.navigator.AddAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="add.diagram.part.AddDiagramUpdateCommand"
         description="%update.diagram.description"
         id="add.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="add.diagram.updateDiagram"
         contextId="add.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.chico.uclm.add.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="add.diagram.part.AddDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="add.diagram.edit.parts.ADDDiagramEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="add.diagram.part.AddDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.chico.uclm.add.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="add.diagram.part.AddDiagramEditorID"
         defaultHandler="add.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
